#!/usr/bin/make -f

export KCPPFLAGS += -fno-pie
export DEB_BUILD_MAINT_OPTIONS = hardening=-relro
export DH_VERBOSE = 1

%:
	dh $@ --parallel

override_dh_auto_configure:
	$(MAKE) VERBOSE=1 rockchip_linux_defconfig
	dh_auto_configure

override_dh_auto_build:
	dh_auto_build -- V=1 Image dtbs modules
override_dh_auto_clean:
	$(MAKE) clean

override_dh_auto_install:
	mkdir -p debian/rock64-linux-image/boot/
	INSTALL_PATH=debian/rock64-linux-image/boot/ dh_auto_install
	$(MAKE) V=1 INSTALL_FW_PATH=debian/rock64-linux-image/lib/firmware INSTALL_MOD_PATH=debian/rock64-linux-image/ INSTALL_MOD_STRIP=1 modules_install firmware_install
	cp arch/arm64/boot/Image debian/rock64-linux-image/boot/
	cp arch/arm64/boot/dts/rockchip/rk3328-rock64.dtb debian/rock64-linux-image/boot/
